@use "variables" as *;

:host {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  gap: $spacer-md;
  overflow: hidden;
}

input {
  max-width: 400px;
}

.table-container {
  padding: $spacer-2xl;
  overflow: scroll;
  display: grid;
  gap: $spacer-lg;
  grid-template-rows: auto 1fr;

  ::ng-deep p-table {
    overflow: scroll;
  }
}
